<launch>
    <!-- <node name="joy" pkg="joy" type="joy_node" required="true">
        <param name="dev" type="str" value="/dev/input/by-id/usb-Microsoft_Controller_7EED8EFC5A79-joystick" />
    </node> -->
    <node name="motor_parser" pkg="parser" type="motor_parser.py" required="true">
        <param name="port" value="/dev/serial/by-id/usb-Arduino_Srl_Arduino_Uno_9533633363535180F1D0-if00"/>
        <param name="baud" value="115200"/>
    </node>
    <!-- <node name="teleop_parser" pkg="parsing" type="teleop_parser.py" required="true"/> -->
    <!-- <node name="base_localizer" pkg="localization" type="base_localizer.py" required="true"/> -->
</launch>
